.mission {
  margin: 574px auto 0 auto;
  width: 330px;
}

.mission-text {
  font-size: 24px;
  color: #1d1d1d;
  opacity: 1;
}

.mission-text.visible {
  animation: colorChange 0.5s ease-in-out forwards;
  animation-fill-mode: forwards;
  text-wrap: wrap;
}

@keyframes colorChangeOnVisible {
  0% {
    color: #1d1d1d;
  }
  30% {
    color: #f1f1f1;
  }
  100% {
    color: #f1f1f1;
  }
}

@keyframes colorChange {
  0% {
    color: #1d1d1d;
  }
  20% {
    color: #f1f1f1;
  }
  100% {
    color: #f1f1f1;
  }
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/


@media (min-width: 620px) {
  .mission {
    margin: 620px auto 0 auto;
    width: 550px;
  }

  .mission-text {
    font-size: 40px;
  }
}

@media (min-width: 1000px) {
  .mission {
    margin: 522px auto 0 auto;
    width: 880px;
  }
}

