.mission {
  margin: 574px auto 0 auto;
  width: 330px;
}

.mission-text {
  font-size: 24px;
  color: #1d1d1d;
  opacity: 1;
  text-align: center;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/


@media (min-width: 620px) {
  .mission {
    margin: 620px auto 0 auto;
    width: 550px;
  }

  .mission-text {
    font-size: 40px;
  }
}

@media (min-width: 1000px) {
  .mission {
    margin: 522px auto 0 auto;
    width: 880px;
  }
}

