.advantages {
  margin: 0 auto;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  color: #F1F1F1;
  position: relative;
  text-align: center;
  overflow: hidden;

}

.big-planet {
  margin-left: auto;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 480px;
  height: auto;
}

.big-planet svg {
  width: 100%;
  height: 100%;
}

.small-planet {
  margin-right: auto;
  position: absolute;
  bottom: 15%;
  left: -5%;
  width: 224px;
  height: auto;
}

.small-planet svg {
  width: 100%;
  height: 100%;
}


@keyframes rotate-big-planet {
  0% {
    transform: translate(0,50vw) rotate(0deg);
  }
  25% {
    transform: translate(-20vw,-5vw) ;
  }

  50% {
    transform: translate(-80vw, 70vw) rotate(-20deg) ;
  }
  75% {
    transform: translate(-30vw, 120vw) ;
  }
  100% {
    transform: translate(0,50vw) rotate(0deg) ;
  }
}

@keyframes rotate-small-planet {
  0% {
    transform: translate(0vw, -50vw);
  }
  25% {
    transform: translate(30vw,0vw) ;
  }

  50% {
    transform: translate(60vw, -50vw) rotate(-20deg) ;
  }
  75% {
    transform: translate(30vw, -100vw) ;
  }
  100% {
    transform: translate(0vw, -50vw) rotate(0deg) ;
  }
}

.big-planet {
  animation: rotate-big-planet 20s linear infinite;
}

.small-planet {
  animation: rotate-small-planet 20s linear infinite;
}

.advantages {
  transform-origin: 50% 50%;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/


@media (min-width: 620px) {
  .advantages{
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
  .big-planet {
    top: 5%;
    right: -10%;
    width: 520px;
  }
  .small-planet {

    bottom: 5%;
    left: 0%;

  }

  @keyframes rotate-big-planet {
    0% {
      transform: translate(0,100%) rotate(0deg);
    }
    25% {
      transform: translate(-40%,-2%) ;
    }

    50% {
      transform: translate(-100%, 90%) rotate(-20deg) ;
    }
    75% {
      transform: translate(-50%, 180%) ;
    }
    100% {
      transform: translate(0,100%) rotate(0deg) ;
    }
  }

  @keyframes rotate-small-planet {
    0% {
      transform: translate(0%, -250%);
    }
    25% {
      transform: translate(170%,-100%) ;
    }

    50% {
      transform: translate(300%, -300%) rotate(-20deg) ;
    }
    75% {
      transform: translate(150%, -450%) ;
    }
    100% {
      transform: translate(0%, -250%) rotate(0deg) ;
    }
  }
}

@media (min-width: 1000px) {
  .advantages{
  }
  .big-planet {
    right: 0%;
    top: 0;
    width: 630px;
  }

  .small-planet {
    left: 5%;
    width: 300px;
    bottom: 0;
  }
  @keyframes rotate-big-planet {
    0% {
      transform: translate(0,50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%,-5%) ;
    }

    50% {
      transform: translate(-100%, 70%) rotate(-20deg) ;
    }
    75% {
      transform: translate(-50%, 150%) ;
    }
    100% {
      transform: translate(0,50%) rotate(0deg) ;
    }
  }

  @keyframes rotate-small-planet {
    0% {
      transform: translate(0%, -100%);
    }
    25% {
      transform: translate(120%,0%) ;
    }

    50% {
      transform: translate(260%, -120%) rotate(-20deg) ;
    }
    75% {
      transform: translate(150%, -300%) ;
    }
    100% {
      transform: translate(0%, -100%) rotate(0deg) ;
    }
  }

}

@media (min-width: 1200px) {
  .advantages{
    width: 1200px;
  }
  .big-planet {
    right: 0%;
    width: 672px;
  }

  .small-planet {
    left: 0%;
    width: 350px;
  }

  .beam .beam-advantages{
    position: absolute;
    animation: animate-advantages 3s linear infinite;
  }

  .beam .beam-advantages:before {
    content: '';
    position: absolute;
    transform: translateY(0%);
    width: 200px;
    height: 3px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8),transparent);
  }

  .beam .beam-advantages:nth-child(1){
    top: 55%;
    left: 10%;
    animation-delay: 0s;/*задержка анимации*/
    animation-duration: 2s;/*длительность анимации*/
  }
  .beam .beam-advantages:nth-child(2){
    top: 55%;
    right: -10%;
    animation-delay: 0s;
    animation-duration: 2s;
  }


  @keyframes animate-advantages{
    0%
    {
      transform: rotate(0deg) translateX(0%);
    }
    70%
    {
      opacity: 1;
    }
    100%
    {
      transform: rotate(0deg) translateX(-500px);
      opacity: 0;
    }
  }
}
@media (min-width: 1460px) {
  .advantages{
    width: 1327px;
  }
  .big-planet {
    right: 0%;
  }
  .beam .beam-advantages:before{
    width: 400px;
  }
}
