.advantages{
    margin: 471px auto 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #F1F1F1;
    max-width: 1327px;

}
.big-planet{
    margin-left: auto;
}
.small-planet{
    margin-right: auto;

}

.text h4{
    font-size: 64px;
    margin: 0;
}
.text p{
    font-size: 24px;
}

.text {
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
    position: absolute;
    top:40%;
    left: 30%;

}

.text.visible {
    opacity: 1;
    transform: translateY(0);
}

