.social-links-icon{
    display: flex;
    gap: 15px;
  height: 20px;
}
.social-links-icon a svg path{
     fill: #F1F1F1;

}
.social-links-icon a:hover svg path{
    fill: #47BCFC;
}
.social-links-icon a:active svg path{
    fill: #F1F1F1;
}

.social-links-icon a svg {
  height: 100%;
  width: 100%;

}