.main{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    background-image: url("../../../public/backgroind image main.png");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: 720px) {

    }

    @media (min-width: 1000px) {
        background-size: 100% 100%;
        background-position: 50% 50%;
        background-image: url("../../../public/backgroind image main.png");
        border-radius:0;

    }


}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main-container{
    margin: 232px auto 58px auto;
    box-sizing: border-box;
    max-width: 1113px;
    color: #4B4A4D;
    z-index: 200;
}

.main-title{
    font-size: 73px;
    font-weight: 300;
    z-index: 20;
}

.main-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 200;

}
.main-subtitle{
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
    color: #CDCDCD;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s 5s ease forwards;
    z-index: 200;

}
.portal-up{


    position: absolute;

    @media (min-width: 720px) {

    }
    @media (min-width: 1440px) {
        top: 80%;
        transform: translateY(-50%);
        left: 35%;

    }
}
   /*---------------------------------------------------------------------------------------------*/
   /*                                  ANIMATION                                                  */
   /*---------------------------------------------------------------------------------------------*/


.main-subtitle br {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s 1s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.main-btn > * {
    opacity: 0;
    animation: fadeInButton 2s forwards;
}

.main-btn > *:nth-child(1) {
    animation-delay: 5s;
}

.main-btn > *:nth-child(2) {
    animation-delay: 5.5s;
}

@keyframes fadeInButton {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

