.roadmap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  overflow-x: hidden;
  gap: 20px;
}

.roadmap-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.q2, .q3, .q4, .q2025 {
  display: flex;
  flex-direction: column;
  color: #F1F1F1;
  gap: 20px;
  opacity: 20%;
}

.roadmap-title {
  display: flex;
  gap: 10px;
}

h5, .year {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
}

.year {
  color: #36B0F1;
}

.points {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.points-item {
  border-radius: 700px;
  white-space: pre-wrap;
  text-align: start;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 14px;
  padding: 15px 20px;
  background: linear-gradient(260.84deg, #1C1C23 63.69%, #000000 116.72%);
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/


@media (min-width: 620px) {
  .roadmap {
    margin-top: 90px;
  }

  .roadmap-info {
    width: 500px;
  }

  h5, .year {
    font-size: 35.2px;
  }

  .points-item {
    white-space: nowrap;
  }
}

@media (min-width: 1000px) {
  .roadmap {
    max-width: 1304px;
    padding: 0 75px 0 61px;
    margin-top: 100px;
    gap: 90px;
  }

  .points-item {
    padding: 20px 35px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .roadmap-info {
    width: 900px;
    gap: 100px;
  }
}

@media (min-width: 1440px) {
  .roadmap-info {
    width: 1180px;
  }
}
