.menu{
    display: flex;
    gap: 30px;

    background: linear-gradient(259.78deg, #1C1C23 14.56%, #000000 65.11%);

    border: 1px solid #2B2B2B;
    border-radius: 83px;

    padding: 20px 40px;
}

.menu a{
    font-size: 16px;
    color: #F1F1F1;
    text-decoration: none;
}

.menu a:hover{
    color: #47BCFC;
}