.product {
  color: #FFFFFF;

  margin: 0 15px;

  display: flex;
  flex-direction: column;

  align-items: center;
  @media (min-width: 620px) {
    margin: 0 35px;
  }

  @media (min-width: 1000px) {
    margin: 0 50px;
  }

  @media (min-width: 1440px) {
    width: 1290px;
    margin: 0 auto;
  }

}

.for-developers {
  opacity: 40%;
  margin-top: 707px; /* место для портала*/
  text-align: start;

  @media (min-width: 620px) {
    margin-top: 623px;
    margin-right: auto;
    width: 480px;
  }

  @media (min-width: 1000px) {
    margin-top: 450px;
    display: flex;
    text-align: start;
    flex-direction: column;
  }

}

.for-developers h4 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  @media (min-width: 1000px) {
    font-size: 32px;
  }
}

.for-developers p {
  margin: 10px 0 20px 0;

  @media (min-width: 620px) {
  }

  @media (min-width: 1000px) {
    font-size: 16.6px;
  }
}

.content {
  box-sizing: border-box;
  padding: 25px 35px;

  border: 1px solid #2B2B2B;
  width: 330px;
  border-radius: 35px;
  background: linear-gradient(260.84deg, #1C1C23 63.69%, #000000 116.72%);
  @media (min-width: 620px) {
    width: 480px;
  }

  @media (min-width: 1000px) {
    width: 410px;
    padding: 34px 42px;

  }
}

.content-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;

  @media (min-width: 620px) {
  }

  @media (min-width: 1000px) {
    font-size: 22px;
  }
}

.content p {
  display: inline-block;
  width: 270px;
  font-size: 14px;

  @media (min-width: 620px) {
    width: 420px;

  }

  @media (min-width: 1000px) {
    font-size: 16px;
    width: 326px;
  }
}

.partners-wrapper {
  display: flex;

  @media (min-width: 620px) {
    justify-content: end;
    margin-left: auto;
  }

  @media (min-width: 1000px) {

  }
}

.for-partners {
  display: flex;
  text-align: start;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;

  opacity: 40%;

  @media (min-width: 620px) {
    margin-top: 106px;

  }

  @media (min-width: 1000px) {
    width: 410px;
    margin-top: 94px;
  }
}

.for-partners h4 {
  font-size: 28px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: 620px) {
    text-align: end;
  }

  @media (min-width: 1000px) {
    font-size: 32px;
    font-weight: 500;
    margin: 0;

  }
}

.for-developers.visible,
.for-partners.visible {
  opacity: 1 !important;
}



