.for-users {
    color: #F1F1F1;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 349px;
}

h2 {
    font-size: 96px;
    font-weight: 500;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
}

.card-wrapper {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;

    position: relative;
    z-index: 2;
}

.card {
    border: 1px solid #2B2B2B;
    text-align: start;
    border-radius: 35px;
    padding: 34px 42px;
    width: 410px;
    box-sizing: border-box;

    background: linear-gradient(260.84deg, #1C1C23 63.69%, #000000 116.72%);
}

.card-bridge {
    border: 1px solid #36B0F133;
    width: 520px;
    padding: 64px 30px;
    text-align: start;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;


    background: linear-gradient(356.2deg, #0E2939 34.52%, #0B0B0D 88.11%);

}
.card-title{
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.card-title p {
    font-size: 16px;
}

.card-bridge__btn {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.card-wrapper .card:nth-child(1) {
    margin-left: 110px;
}

.card-wrapper .card:nth-child(2) {
    margin-left: auto;
}

.card-wrapper .card:nth-child(3) {
    margin-right: auto;
}
