.advantages-text {
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  margin: 270px 15px 160px 15px;
  display: flex;
}

.advantages-text h4 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}

.advantages-text p {
  font-size: 16px;
}

.advantages-text-block {
  opacity: 0;
  animation: fade-away 0,3s forwards;
  display: none;
}


.advantages-text-block.visible {
  min-height: 330px;
  opacity: 1;
  display: inline-block;
  animation: fade-in 2s forwards;
}

@keyframes fade-away {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(50vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/


@media (min-width: 620px) {
  .advantages-text {
    font-size: 64px;
    width: 650px;
    margin: 270px auto 180px auto;
  }


  .advantages-text h4 {
    font-size: 64px;
  }

  .advantages-text p {
    font-size: 24px;
  }
}

@media (min-width: 1000px) {
  .advantages-text {
    font-size: 64px;
    width: 483px;
  }
}
