.join {
    margin: 534px 208px 0 208px;
    max-width: 1024px;

}

h2 {
    color: #F1F1F1;
    margin: 0;
    font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    margin-bottom: 20px;

}
.join h2 span{
    display: inline-block;
    opacity: 0;
    animation: fadeInLetter 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLetter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.join-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s 2s, transform 1s 2s;
}

.join-btn.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.join-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.join-title h2:nth-child(2) {
    margin-right: 40px;
}

