.bridge-header{
    display: flex;
    justify-content: space-between;

    outline: none;
    background: none;
    border: none;
    padding: 0;

    color: #F1F1F1;

    height: 24px;
    width: 77.83px;
}

.bridge-header p{
    margin: 0;
    font-size: 16px;
}


.bridge-header:hover svg path,
.bridge-header:hover p
{
    fill: #47BCFC;
    color: #47BCFC;
}

