.token {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-top: 92px;
  overflow-x: hidden;

  @media (min-width: 620px) {
    margin-top: 82px;
    gap:70px;
  }
  @media (min-width: 1000px) {
    margin: 386px auto 0 auto;
    padding: 0 70px;
    gap: 103px;
    max-width: 1294px;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.token-info {
  width: 321px;
  @media (min-width: 620px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
.token-info svg {
  right: -25%;
  position: relative;
  width: 100%;
  @media (min-width: 620px) {
    position: static;
    width: 100%;
  }
}

.token-text {
  color: #F1F1F1;
  font-size: 16px;
  line-height: 24px;
  text-align: end;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s, transform 1s;
  @media (min-width: 620px) {
    text-align: center;

  }
}

.token-text.animate {
  opacity: 1;
  transform: translateY(0);
}

.token-text br {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s, transform 1s;
}

.token-text.animate br {
  opacity: 1;
  transform: translateY(0);
}